@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.main-container{
  min-height: 100vh;
  width: 100vw;
  background-color: #e0ebef;
}



.title-container a{
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.me-auto {
  gap:1rem;
}

.home-container{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background: url('');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  background-color: #e0ebef;
}

.trending-container{
  /* border: 1px solid black; */
  display:flex;
  margin: 1rem;
  justify-content: space-between;
  align-items: center; 
  /* flex-wrap: wrap; */
}

.trending-food{
  display: flex;
  gap:1rem;
  min-width: 350px;
}

.trends > div:nth-child(1){
  /* border: 5px solid black; */
  width: 100%;
}

.trends{
  /* border: 1px solid black; */
  width:75%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
    /* flex-wrap: wrap; */

  
}

.trends img{
  border-radius: 50px;
  width: 100%;
  /* height: 100%; */
  border: 3px solid #0d6efd;
}

.trends img:hover{
  transform: scale(1.1);
}

.welcome-container{
  text-align: center;
  /* border: 1px solid black; */
  display: flex;
  gap: 3rem;
  margin-top: 5rem;
  /* flex-wrap: wrap; */
}

.welcome-container p{
  /* font-size: 2.5rem; */
  font-weight: 1000;
}

.welcome-1-container{
  /* border: 3px solid red; border: 3px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  width: 325px
}

.welcome-1-container img{
  width: 100%;
  border: 3px solid #0d6efd;

}

.welcome-2-container{
  /* border: 1px solid red; */
}

.welcome-2-container img{
  width: 100%;
  border: 3px solid #0d6efd;
}

.recipe-btn-container{
  /* border: 1px solid black; */
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.recipe-btn-container p {
  border-bottom:2px solid #0d6efd;
}

.recipe-btn-container button{
  /* border: 1px solid black; */

  font-size: 2rem;
  width: 100%;
  height: 100%;
}

.recipe-btn-container:hover{
  /* transform: scale(1.1); */
}

.recipe-container{
  /* border: 1px solid black; */

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height:100%;
  padding-top:5rem;

  /* background: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.description-container{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-container{
  display: flex;
}

.search-container input {
  border: 5px solid #0d6efd;
}

.result-container{
  margin-top: 5rem;
  /* border: 1px solid black; */
  /* height: 100%; */
  width:100%;

  display:flex;
  flex-direction: column;
  align-items: center;
}

.result-info-container{
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid black; */
}

.recipe-card{
  min-height: 300px;
  width: 250px;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 5px gray;
  padding-bottom: 1rem;

}

.recipe-card img{
  height: 75%;
  width: 100%;
}

.recipe-card-btn-container{
  text-align: center;
}

.recipe-card p{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 1000;
}


.recipe-list-container{
  display: flex;
  flex-direction: column;
}

.recipe-list-container p{
  /* font-size: 1rem; */
}

.measurement-container{
  display: flex;
  flex-direction: column;
}

.info-container{
  display: flex;
  flex-direction: column;
}

.contact-container{
  padding:10rem;
}

.footer-container{
  /* border: 1px solid black; */
  /* height:50%; */
}

@media (max-width: 1250px){
  .trending-container{
    flex-direction: column;
  }
  .trends {
    flex-wrap:wrap;
  }
}

@media (max-width: 560px){
  .trending-container{
    flex-direction: column;
  }
  .trending-food {
    flex-wrap:wrap;
  }
  .welcome-container{
    flex-wrap: wrap;
  }
  .container{
    display:flex;
    flex-direction: column;
    width: 100%;
  }
}
